{% extends 'navbar.html' %}

{% block title %}

{% endblock title %}
{% block body %}

<body>
<main>
<div class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal"><b>All In One Restaurant</b></h1>
      <p class=" fw-normal"> All of our menu items are inspired by _____ cuisine and have been created by our head chef, (CN), after studying authentic _____ cuisine in ____. Not only do we have fresh flown-in seafood from the northeast, but we also have a variety of handcrafted cocktails, wine, and beer to choose from.

Come dine with us & experience an authentic ______ meal in an intimate dining space. We look forward to serving you!</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
<div class="container">

  <div class="row row-cols-1 row-cols-md-2 g-4 py-4">
  <div class="col">
    <div class="card">
      <img src="https://mobirise.com/extensions/grocerym4/half/assets/images/sq5-500x500.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">All over india. We offer a wide array of fresh food – green pork plate, chimichangas, hamburger, barbacoa plate, pizza, salads, bbq with rice and beans and more. We use the freshest ingredients in preparing our food to provide the best quality and taste. Try our delicious food today!</p>
        <a href="contact" ><button type="button" class="btn  btn-dark">Start Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://mobirise.com/extensions/grocerym4/half/assets/images/sq7-500x500.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">All over india. We offer a wide array of fresh food – green pork plate, chimichangas, hamburger, barbacoa plate, pizza, salads, bbq with rice and beans and more. We use the freshest ingredients in preparing our food to provide the best quality and taste. Try our delicious food today!</p>
    <a href="contact" ><button type="button" class="btn  btn-dark">Start Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://mobirise.com/extensions/grocerym4/half/assets/images/sq8-500x500.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">All over india. We offer a wide array of fresh food – green pork plate, chimichangas, hamburger, barbacoa plate, pizza, salads, bbq with rice and beans and more. We use the freshest ingredients in preparing our food to provide the best quality and taste. Try our delicious food today!</p>
           <a href="contact" ><button type="button" class="btn  btn-dark">Start Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://mobirise.com/extensions/grocerym4/half/assets/images/sq9-500x500.jpg" class="card-img-top" alt="...">
      <div class="card-body">
       <p class="card-text">All over india. We offer a wide array of fresh food – green pork plate, chimichangas, hamburger, barbacoa plate, pizza, salads, bbq with rice and beans and more. We use the freshest ingredients in preparing our food to provide the best quality and taste. Try our delicious food today!</p>
      <a href="contact" ><button type="button" class="btn  btn-dark">Start Now</button></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</main>
<div class="container advantages">
    <h1>OUR ADVANTAGES</h1>
    <p><b>. Fast Delivery</b> </p>
   <p><b>. High Quality</b> </p>
   <p><b>. Low Price</b></p>

</div>

</body>
{% endblock body %}

