{% extends 'navbar.html' %}

{% block title %}home
{% endblock title%}
{% block body %}
<div class="container py-4" }>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src='https://source.unsplash.com/1600x600/?Chickpea' alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src='https://source.unsplash.com/1600x600/?pizza' alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src='https://source.unsplash.com/1600x600/?curry' alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <div class="row row-cols-1 row-cols-md-2 g-4 py-4">
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1485962232502-f25e5874a8d1?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8c3dlZXR8fHx8fHwxNjYwNDYwMzUw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">sweet</h5>
        <p class="card-text">price:<b>200</b></p>
        <p class="card-text">p-code:<b>101</b></p>
        <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1556710807-a9261921475f?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29vbCBkcmlua3x8fHx8fDE2NjA0NjA0MTI&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">cool drink</h5>
        <p class="card-text">price:<b>300</b></p>
        <p class="card-text">p-code:<b>102</b></p>
    <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1552689486-f6773047d19f?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2FrZXx8fHx8fDE2NjA0NjAxNTg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">cack </h5>
        <p class="card-text">Price:<b>450</b></p>
        <p class="card-text">p-code:<b>103</b></p>
           <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1619683815335-2b5b130a1baf?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8c2FuZHdpY2h8fHx8fHwxNjYwNDYwMjY3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title">Sandwich </h5>
       <p class="card-text">price:<b>300</b></p>
        <p class="card-text">p-code:<b>104</b></p>
      <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
</div>
</div>




<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 py-4">
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1624462966581-bc6d768cbce5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8UGFuY2FrZXx8fHx8fDE2NjA0NjA0NzA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pancake</h5>
        <p class="card-text">price:<b>200</b></p>
        <p class="card-text">p-code:<b>105</b></p>
        <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1590903992199-d62079236c91?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8QnVyZ2VyfHx8fHx8MTY2MDQ2MDY2NQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <p class="card-text">price:<b>150</b></p>
        <p class="card-text">p-code:<b>106</b></p>
    <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1609672655400-c509bdbcf7e2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8Tm9vZGxlc3x8fHx8fDE2NjA0NjA1NDQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Noodles</h5>
        <p class="card-text">Price:<b>200</b></p>
        <p class="card-text">p-code:<b>107</b></p>
           <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1603570416072-84068a0f1358?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8UGFzdGF8fHx8fHwxNjYwNDYwOTA3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title">Pasta</h5>
       <p class="card-text">price:<b>300</b></p>
        <p class="card-text">p-code:<b>108</b></p>
      <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>




<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4 py-4">
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1582234396794-7fdfcf06b83c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8VGFjb3x8fHx8fDE2NjA0NjExMDY&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Taco</h5>
        <p class="card-text">price:<b>200</b></p>
        <p class="card-text">p-code:<b>109</b></p>
        <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1501118914527-baeb72850258?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8SWNlIGNyZWFtfHx8fHx8MTY2MDQ2MDk4Nw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ice cream</h5>
        <p class="card-text">price:<b>150</b></p>
        <p class="card-text">p-code:<b>110</b></p>
    <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1619538189950-985a988e2ef4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8SG90ZG9nfHx8fHx8MTY2MDQ2MTAzNg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hotdog</h5>
        <p class="card-text">Price:<b>200</b></p>
        <p class="card-text">p-code:<b>111</b></p>
           <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1565557623262-b51c2513a641?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1600&ixid=MnwxfDB8MXxyYW5kb218MHx8RG9zYXx8fHx8fDE2NjA0NjExODE&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title">Curry Roti</h5>
       <p class="card-text">price:<b>150</b></p>
        <p class="card-text">p-code:<b>112</b></p>
      <a href="contact" ><button type="button" class="btn  btn-dark">Order Now</button></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock body %}
